.top {
  background-image: url("../images/top/top-bg.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  padding-left: 8.33333vw;
  height: 54.72222vw;
}

.top .nav {
  font-size: 0;
}

.top .nav .logo {
  vertical-align: bottom;
  display: inline-block;
  margin-top: 3.26389vw;
  width: 8.54167vw;
  height: 2.98611vw;
  background-image: url("../images/top/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.top .nav .nav-list {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 3.26389vw;
  margin-left: 7.29167vw;
  width: 30.55556vw;
}

.top .nav .nav-list .nav-item {
  padding: 0.83333vw;
  font-size: 1.11111vw;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
  transition: color .4s;
}

.top .nav .nav-list .nav-item:hover, .top .nav .nav-list .nav-item.nav-item-active {
  color: #66bb6a;
}

.top .nav .sign-up-btn {
  float: right;
  margin-top: 2.77778vw;
  margin-right: 8.33333vw;
  width: 8.88889vw;
  height: 3.33333vw;
  border-radius: 0.34722vw;
  border: solid 0.13889vw #ffffff;
  background-color: transparent;
  font-size: 1.11111vw;
  color: #f1f8e9;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), background-color 0.2s, color 0.2s;
}

.top .nav .sign-up-btn:hover {
  background-color: #ffffff;
  color: #66bb6a;
}

.top .nav .sign-up-btn:active {
  transition: transform .2s;
  transform: scale(0.9);
}

.top .nav .sign-up-btn .icon-user {
  margin-right: 0.55556vw;
  font-size: 1.11111vw;
}

.top .top-title {
  margin-top: 9.72222vw;
  width: 32.84722vw;
  font-size: 3.19444vw;
  font-weight: bold;
  line-height: 4.44444vw;
  color: #000000;
}

.top .top-text {
  margin-top: 2.77778vw;
  width: 32.84722vw;
  font-size: 1.25vw;
  line-height: 2.22222vw;
  color: #263238;
}

.top .invest-now-btn {
  margin-top: 3.75vw;
  width: 10vw;
  height: 3.33333vw;
  background-color: #66bb6a;
  border-radius: 0.34722vw;
  box-shadow: 0 0.90278vw 1.38889vw 0 rgba(118, 196, 125, 0.4);
  font-size: 1.25vw;
  color: #ffffff;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.top .invest-now-btn:hover {
  box-shadow: rgba(118, 196, 125, 0.6) 0 6px 9px 0;
}

.top .invest-now-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.opportunities {
  margin-top: 1.66667vw;
  margin-left: 8.33333vw;
  margin-right: 8.33333vw;
  padding-bottom: 7.22222vw;
  padding-left: 5vw;
  padding-right: 5vw;
  border-bottom: 0.13889vw solid #f7f7f7;
}

.opportunities .opportunities-title {
  margin: 0 auto;
  width: 22.5vw;
  height: 4.44444vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.opportunities .opportunities-text {
  margin: 0 auto;
  margin-top: 0.97222vw;
  width: 38.88889vw;
  font-size: 1.25vw;
  line-height: 2.22222vw;
  color: #324148;
  text-align: center;
}

.opportunities .opportunities-list {
  margin-top: 6.94444vw;
  display: flex;
  justify-content: space-between;
  width: 73.33333vw;
}

.opportunities .opportunities-list .opportunity-item {
  padding-top: 3.33333vw;
  padding-bottom: 3.47222vw;
  padding-left: 2.77778vw;
  padding-right: 2.77778vw;
  width: 22.77778vw;
  height: 22.77778vw;
  background-color: #ffffff;
  box-shadow: -0.06944vw 0.90278vw 1.38889vw 0vw #f0f2f4;
  border-radius: 0.34722vw;
}

.opportunities .opportunities-list .opportunity-item .opportunity-image {
  width: 5.41667vw;
  height: 4.44444vw;
}

.opportunities .opportunities-list .opportunity-item .opportunity-image .iconfont {
  font-size: 4.16667vw;
  color: #66bb6a;
}

.opportunities .opportunities-list .opportunity-item .opportunity-image .icon-active {
  color: #ffffff;
}

.opportunities .opportunities-list .opportunity-item .opportunity-title {
  margin-top: 1.52778vw;
  width: 16.11111vw;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 1.66667vw;
  color: #263238;
}

.opportunities .opportunities-list .opportunity-item .opportunity-text {
  margin-top: 1.66667vw;
  width: 17.22222vw;
  height: 6.66667vw;
  font-size: 1.11111vw;
  font-weight: 300;
  line-height: 1.66667vw;
  color: #263238;
  overflow: hidden;
}

.opportunities .opportunities-list .opportunity-item.opportunity-item-active {
  background-color: #66bb6a;
  box-shadow: 0vw 1.73611vw 1.73611vw 0vw rgba(118, 196, 125, 0.31);
}

.opportunities .opportunities-list .opportunity-item.opportunity-item-active .opportunity-title {
  color: #ffffff;
}

.opportunities .opportunities-list .opportunity-item.opportunity-item-active .opportunity-text {
  color: #e8f5e9;
}

.invest {
  margin-top: 5.83333vw;
  margin-left: 8.33333vw;
  margin-right: 8.33333vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.invest .invest-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: #000000;
}

.invest .invest-text {
  margin-top: 1.25vw;
  width: 48.88889vw;
  font-size: 1.25vw;
  line-height: 2.22222vw;
  color: #324148;
}

.invest .invest-list {
  display: flex;
  justify-content: space-between;
  margin-top: 6.52778vw;
}

.invest .invest-list .invest-item {
  padding-top: 2.70833vw;
  padding-left: 5vw;
  width: 35.55556vw;
  height: 28.88889vw;
  background-color: #324148;
  border-radius: 0.34722vw;
}

.invest .invest-list .invest-item:first-child {
  background-image: url("../images/invest/invest-item-bg1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.invest .invest-list .invest-item:last-child {
  background-image: url("../images/invest/invest-item-bg2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.invest .invest-list .invest-item .invest-item-label {
  font-size: 0.97222vw;
  letter-spacing: 0.19444vw;
  color: #66bb6a;
}

.invest .invest-list .invest-item .invest-item-label::after {
  content: "";
  display: block;
  margin-top: 1.18056vw;
  width: 3.88889vw;
  height: 0.27778vw;
  background-color: #ffffff;
  border-radius: 0.13889vw;
}

.invest .invest-list .invest-item .invest-item-title {
  margin-top: 4.23611vw;
  width: 17.22222vw;
  height: 5.20833vw;
  font-size: 2.15278vw;
  font-weight: bold;
  line-height: 2.77778vw;
  color: #ffffff;
}

.invest .invest-list .invest-item .invest-item-text {
  margin-top: 1.25vw;
  width: 17.22222vw;
  height: 3.19444vw;
  font-size: 1.11111vw;
  line-height: 1.66667vw;
  color: #e2efd2;
}

.invest .invest-list .invest-item .invest-item-btn {
  margin-top: 1.94444vw;
  width: 13.88889vw;
  height: 3.33333vw;
  background-color: #ffffff;
  border-radius: 0.34722vw;
  box-shadow: 0 0.90278vw 1.38889vw 0 rgba(255, 255, 255, 0.04);
  font-size: 1.25vw;
  color: #66bb6a;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.invest .invest-list .invest-item .invest-item-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.09) 0 6px 9px 0;
}

.invest .invest-list .invest-item .invest-item-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.work {
  margin: 0 auto;
  margin-top: 8.125vw;
  padding: 7.36111vw 17.22222vw 0;
  width: 83.33333vw;
  height: 50vw;
  background-image: url("../images/work/work-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.work .work-title {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.work .work-text {
  margin: 0 auto;
  margin-top: 3.05556vw;
  font-size: 1.25vw;
  line-height: 2.22222vw;
  text-align: center;
  color: #e8f5e9;
}

.work .work-steps {
  display: flex;
  justify-content: space-between;
  margin-top: 4.16667vw;
}

.work .work-steps .work-step {
  width: 5vw;
  height: 5vw;
  border: solid 0.13889vw #b3dcb6;
  border-radius: 50%;
  font-size: 1.25vw;
  line-height: 4.72222vw;
  text-align: center;
  color: #d1ead3;
}

.work .work-steps .work-step::before {
  display: block;
  content: "";
  height: 0.13889vw;
  width: 9.65278vw;
  transform: translate(4.86111vw, 2.43056vw);
  background-color: #b3dcb6;
}

.work .work-steps .work-step:last-child::before {
  content: none !important;
}

.work .work-steps .work-step.work-step-active {
  background-color: #ecf7ed;
  border: none;
  box-shadow: -0.06944vw 0.90278vw 1.38889vw 0vw #5ab963;
  line-height: 5vw;
  color: #66bb6a;
}

.work .work-steps .work-step.work-step-active::before {
  display: block;
  content: "";
  height: 0.13889vw;
  width: 9.65278vw;
  transform: translate(5vw, 2.56944vw);
  background-color: #b3dcb6;
}

.work .work-steps .work-step .work-step-text {
  width: 19.44444vw;
  font-size: 1.66667vw;
  font-weight: bold;
  line-height: 2.22222vw;
  text-align: left;
  color: #ffffff;
  transform: translateY(4.16667vw);
}

.testimonials {
  margin-top: 13.05556vw;
}

.testimonials .testimonials-title {
  margin-left: 13.33333vw;
  width: 28.54167vw;
  height: 7.56944vw;
  background-image: url("../images/testimonials/testimonials-title-bg.png");
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  font-size: 2.5vw;
  font-weight: bold;
  color: #000000;
}

.testimonials .testimonials-list-container {
  position: relative;
  margin-top: 6.875vw;
  padding-bottom: 1.38889vw;
  overflow: hidden;
}

.testimonials .testimonials-list-container::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 75%, #FFFFFF 100%), linear-gradient(-90deg, rgba(255, 255, 255, 0) 75%, #FFFFFF 100%);
  pointer-events: none;
}

.testimonials .testimonials-list-container .testimonials-list {
  display: flex;
  justify-content: space-around;
  width: 249.33333vw;
  transform: translateX(calc((100% - 100vw) / -2));
  transition: transform .2s;
}

.testimonials .testimonials-list-container .testimonials-list.testimonials-list-active {
  transition: none;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item {
  padding: 3.26389vw 3.33333vw 3.61111vw;
  width: 28.33333vw;
  height: 20.55556vw;
  background-color: #ffffff;
  box-shadow: -0.06944vw 0.90278vw 1.38889vw 0vw #f0f2f4;
  border-radius: 0.34722vw;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info {
  display: flex;
  align-items: center;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-avatar-1 {
  background-image: url("../images/testimonials/avatar1.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-avatar-2 {
  background-image: url("../images/testimonials/avatar2.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-avatar-3 {
  background-image: url("../images/testimonials/avatar3.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-avatar-4 {
  background-image: url("../images/testimonials/avatar4.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-avatar {
  flex-shrink: 0;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0vw 0.20833vw 1.38889vw 0vw rgba(0, 0, 0, 0.22);
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-name-and-team {
  margin-left: 1.73611vw;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-name-and-team .testimonial-item-name {
  font-size: 1.25vw;
  color: #66bb6a;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-info .testimonial-item-name-and-team .testimonial-item-team {
  margin-top: 0.27778vw;
  font-size: 1.25vw;
  line-height: 1.66667vw;
  color: #263238;
}

.testimonials .testimonials-list-container .testimonials-list .testimonial-item .testimonial-item-text {
  margin-top: 1.875vw;
  width: 21.66667vw;
  height: 6.80556vw;
  font-size: 1.25vw;
  line-height: 2.22222vw;
  color: #324148;
  overflow: hidden;
}

.testimonials .testimonial-arrow-btn-group {
  margin-top: 2.5vw;
  margin-left: 13.33333vw;
  font-size: 0;
}

.testimonials .testimonial-arrow-btn-group .testimonial-left-arrow-btn, .testimonials .testimonial-arrow-btn-group .testimonial-right-arrow-btn {
  width: 4.44444vw;
  height: 4.44444vw;
  border-radius: 50%;
}

.testimonials .testimonial-arrow-btn-group .testimonial-left-arrow-btn {
  margin-right: 1.11111vw;
  background-color: #66bb6a;
  box-shadow: 0vw 1.04167vw 1.38889vw 0vw rgba(118, 196, 125, 0.31);
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.testimonials .testimonial-arrow-btn-group .testimonial-left-arrow-btn:hover {
  box-shadow: rgba(118, 196, 125, 0.31) 0 6px 9px 0;
}

.testimonials .testimonial-arrow-btn-group .testimonial-left-arrow-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.testimonials .testimonial-arrow-btn-group .testimonial-left-arrow-btn .icon-arrow-left {
  font-size: 1.66667vw;
  color: #b3dcb6;
}

.testimonials .testimonial-arrow-btn-group .testimonial-right-arrow-btn {
  background-color: #ffffff;
  box-shadow: 0vw 1.04167vw 1.38889vw 0vw #f0f2f4;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.testimonials .testimonial-arrow-btn-group .testimonial-right-arrow-btn:hover {
  box-shadow: #f0f2f4 0 6px 9px 0;
}

.testimonials .testimonial-arrow-btn-group .testimonial-right-arrow-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.testimonials .testimonial-arrow-btn-group .testimonial-right-arrow-btn .icon-arrow-right {
  font-size: 1.66667vw;
  color: #8aa1ac;
}

.start {
  margin: 12.77778vw 13.33333vw 0;
  padding: 5.41667vw 0;
  background-color: #ffffff;
  box-shadow: -0.06944vw 1.73611vw 1.38889vw 0vw #f2f2f2;
  border-radius: 0.34722vw;
}

.start .start-title {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.start .start-title span {
  color: #63bc66;
}

.start .start-btn {
  display: block;
  margin: 0 auto;
  margin-top: 2.77778vw;
  width: 18.68056vw;
  height: 3.33333vw;
  background-color: #66bb6a;
  box-shadow: 0 0.90278vw 1.38889vw 0 rgba(118, 196, 125, 0.41);
  border-radius: 0.34722vw;
  font-size: 1.25vw;
  color: #ffffff;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.start .start-btn:hover {
  box-shadow: rgba(118, 196, 125, 0.6) 0 6px 9px 0;
}

.start .start-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.footer {
  margin-top: 8.75vw;
  padding: 0 13.33333vw;
}

.footer .footer-site-links-and-info {
  display: flex;
  justify-content: space-between;
}

.footer .footer-site-links-and-info .site-links li:first-child {
  font-size: 1.11111vw;
  font-weight: bold;
  color: #000000;
}

.footer .footer-site-links-and-info .site-links li {
  padding: 0.83333vw 0;
  font-size: 1.11111vw;
  color: #607d8b;
}

.footer .footer-site-links-and-info .site-info {
  padding-top: 3.19444vw;
  padding-bottom: 3.19444vw;
  padding-left: 3.88889vw;
  width: 19.44444vw;
  background-color: #66bb6a;
  border-radius: 0.34722vw;
}

.footer .footer-site-links-and-info .site-info .site-info-title {
  font-size: 1.25vw;
  font-weight: bold;
  color: #eff7e7;
}

.footer .footer-site-links-and-info .site-info .site-info-text {
  margin-top: 1.52778vw;
  font-size: 1.11111vw;
  color: #edf6e5;
}

.footer .footer-site-links-and-info .site-info .site-info-email {
  margin-top: 0.41667vw;
  font-size: 1.25vw;
  font-weight: bold;
  color: #edf6e5;
}

.footer .footer-site-links-and-info .site-info .site-info-btn {
  margin-top: 1.52778vw;
  padding: 0.83333vw 1.66667vw;
  background-color: #ffffff;
  border-radius: 0.34722vw;
  box-shadow: 0 0.90278vw 1.38889vw 0 rgba(255, 255, 255, 0.04);
  font-size: 1.11111vw;
  color: #66BB6A;
  transition: transform 0.4s cubic-bezier(0.33, 1.9, 0.52, 0.7), box-shadow 0.2s;
}

.footer .footer-site-links-and-info .site-info .site-info-btn:hover {
  box-shadow: rgba(255, 255, 255, 0.09) 0 6px 9px 0;
}

.footer .footer-site-links-and-info .site-info .site-info-btn:active {
  transition: transform .2s, box-shadow .2s;
  transform: scale(0.9);
}

.footer .footer-site-links-and-info .site-info .site-info-btn .icon-user {
  margin-right: 0.41667vw;
  font-size: 1.11111vw;
}

.footer .footer-logo-and-copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8.19444vw;
  padding-bottom: 5.97222vw;
  padding-top: 4.72222vw;
  border-top: 0.13889vw solid #eeeeee;
}

.footer .footer-logo-and-copyright .footer-logo {
  width: 8.33333vw;
  height: 2.5vw;
  background-image: url("../images/top/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.footer .footer-logo-and-copyright .footer-copyright {
  font-size: 0.97222vw;
  color: #607d8b;
}

@font-face {
  font-family: Chivo;
  src: url("../font/Chivo-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Chivo;
  src: url("../font/Chivo-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Chivo;
  src: url("../font/Chivo-Bold.ttf");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "Chivo";
}

html, body, button, ul, li, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

button, input {
  border: none;
  outline: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  background-image: url("../images/bg/bg1.png"), url("../images/bg/bg2.png"), url("../images/bg/bg3.png");
  background-size: 11.59722vw, 100%, 100%;
  background-repeat: no-repeat;
  background-position: 0 40.69444vw, left bottom, 0 56.94444vw;
}

/*# sourceMappingURL=main.css.map */