@import "../common/function";

.top {
  background-image: url("../images/top/top-bg.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  padding-left: responsive(120);
  height: responsive(788);
  
  .nav {
    font-size: 0;

    .logo {
      vertical-align: bottom;
      display: inline-block;
      margin-top: responsive(47);
      width: responsive(123);
	    height: responsive(43);
      background-image: url("../images/top/logo.png");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    .nav-list {
      display: inline-flex;
      justify-content: space-between;
      margin-top: responsive(47);
      margin-left: responsive(105);
      width: responsive(440);

      .nav-item {
        padding: responsive(12);
        font-size: responsive(16);
        font-weight: bold;
        color: #000000;
        cursor: pointer;
        transition: color .4s;

        &:hover, &.nav-item-active{
          color: #66bb6a;
        }
      }
    }

    .sign-up-btn {
      float: right;
      margin-top: responsive(40);
      margin-right: responsive(120);
      width: responsive(128);
      height: responsive(48);
      border-radius: responsive(5);
      border: solid responsive(2) #ffffff;
      background-color: transparent;
      font-size: responsive(16);
      color: #f1f8e9;
      transition: transform .4s cubic-bezier(.33, 1.9, .52, .7), background-color .2s, color .2s;

      &:hover {
        background-color: #ffffff;
        color: #66bb6a;
      }

      &:active {
        transition: transform .2s;
        transform: scale(.9);
      }

      .icon-user {
        margin-right: responsive(8);
        font-size: responsive(16);
      }
    }
  }

  .top-title {
    margin-top: responsive(140);
    width: responsive(473);
    font-size: responsive(46);
    font-weight: bold;
    line-height: responsive(64);
    color: #000000;
  }

  .top-text {
    margin-top: responsive(40);
    width: responsive(473);
    font-size: responsive(18);
    line-height: responsive(32);
    color: #263238;
  }

  .invest-now-btn {
    margin-top: responsive(54);
    width: responsive(144);
    height: responsive(48);
    background-color: #66bb6a;
    border-radius: responsive(5);
    box-shadow: 0 responsive(13) responsive(20) 0 rgba(118, 196, 125, 0.40);
    font-size: responsive(18);
    color: #ffffff;
    transition: transform .4s cubic-bezier(.33, 1.9, .52, .7), box-shadow .2s;

    &:hover {
      box-shadow: rgba(118, 196, 125, 0.60) 0 6px 9px 0;
    }

    &:active {
      transition: transform .2s, box-shadow .2s;
      transform: scale(.9);
    }
  }
}